/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 2em;
  width: 100%;

  /* Archive pages use full width - grid layout handles positioning */
  @media (min-width: 1024px) {
    width: 100%;
    /* Full width is handled by grid in theme/_modern.scss */
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }
}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: $type-size-5;
  color: var(--global-text-color-light);
  border-bottom: 1px solid var(--global-border-color);

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: $sans-serif-narrow;

  a + a {
    opacity: 0.5;
  }
}

/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }
}

.archive__item-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.archive__item:hover {
  .archive__item-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }

  .archive__item-title {
    text-decoration: underline;
  }
}


/*
   List view
   ========================================================================== */

.list__item {
  /* Remove right sidebar padding - archives don't have sidebars */
  .page__meta {
    margin: 0 0 4px;
  }
}


/*
   Grid view
   ========================================================================== */

.grid__item {
  margin-bottom: 2em;

  .page__meta {
    margin: 0 0 4px;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
    line-height: 1.3;
  }

  .archive__item-excerpt {
    display: none;
    color: var(--global-text-color-light);
  }

  /* Grid view for archive items */
  @media (min-width: 600px) {
    display: inline-block;
    width: calc(50% - 1em);
    margin-right: 1em;
    vertical-align: top;
    
    .archive__item-teaser {
      max-height: 200px;
    }
  }

  @media (min-width: 768px) {
    width: calc(33.333% - 1em);

    .archive__item-teaser {
      max-height: 160px;
      border-radius: $border-radius;
      overflow: hidden;
      box-shadow: $box-shadow;
    }

    .archive__item-excerpt {
      display: block;
      font-size: $type-size-6;
      color: var(--global-text-color-light);
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  margin-bottom: 2em;
  border-bottom: 1px solid var(--global-border-color);
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @media (min-width: 600px) {
    margin-bottom: 0;
    display: inline-block;
    width: calc(33.333% - 1em);
    margin-right: 1em;
    vertical-align: top;

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    width: 100%;
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @media (min-width: 600px) {
      display: flex;
      align-items: flex-start;
      gap: 2em;
      
      .archive__item-teaser {
        flex: 0 0 40%;
        margin-bottom: 0;
      }

      .archive__item-body {
        flex: 1;
      }
    }
  }

  &--right {
    width: 100%;
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @media (min-width: 600px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      gap: 2em;
      text-align: right;

      .archive__item-teaser {
        flex: 0 0 40%;
        margin-bottom: 0;
      }

      .archive__item-body {
        flex: 1;
      }
    }
  }

  &--center {
    width: 100%;
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @media (min-width: 600px) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto 2em;
        max-width: 60%;
      }

      .archive__item-body {
        margin: 0 auto;
        max-width: 80%;
      }
    }
  }
}
